/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FFC61A;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
}

.topo button:hover{
    transform: scale(1.05);
}

h2.titulo{
    color: #fff;
    font-size: 36px;
    text-align: center;
}

h2.titulo span{
    color: #FFC61A;
}

button:hover{
    box-shadow: 0px 0px 8px #FFC61A;
    transform: scale(1.05);
}

.EA-social button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #FFC61A;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 5px;
    transition: .2s;
}

/*ESTILO CABEÇALHO*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*ESTILO FONTE*/

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/*ESTILO TOPO DO SITE*/

section.topo{
    padding: 40px 4%;
}

section.topo .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo .txt-topo p{
    color: #fff;
    margin: 40px 0;
}

.topo .img-topo img{
    position: relative;
    animation: flutuante 2s ease-in-out infinite alternate;
}

@keyframes flutuante{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*ESTILO DAS ESPECIALIDADES*/

section.especialidades{
    padding: 40px 4%;
}

.especialidades-box a {
    display: block; /* Faz o link cobrir toda a caixa */
    text-decoration: none;
    color: #fff;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff80;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #FFC61A;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/*ESTILO SOBRE*/

section.sobre{
 padding: 50px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #FFC61A;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

/*ESTILO PORTFÓLIO*/

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 10px 10px #ffffff1d;
}

section.portfolio .flex{
    justify-content: space-around;
    margin: 60px;
}

.img-port{
    width: 360px;
    height: 360px;
    background-size:cover;
    margin-right: 20px; /* Espaço entre os itens */
    background-position: 100% 0%;
    transition: .8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    background-size: cover;
    background-position: center;
}

/*
.img-port:hover{
    background-position: 100% 100%;
}
*/

.img1 {
    background-image: url(./assets/img1.jpeg);
}

.img2 {
    background-image: url(./assets/img2.jpeg);
}

.img3 {
    background-image: url(./assets/img3.png);
}

.img4 {
    background-image: url(./assets/img4.png);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #000000ad;
    color: #ffffffc5;
    opacity: 0;
    transition: .8s;
}

.overlay:hover{
    opacity: 1;
}

/*ESTILO RODAPÉ*/

footer{
    padding: 40px 4%;
    box-shadow: 0 0 10px 0px #ffffff1d;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

footer .logo-footer{
    margin: 25px 0;
}

.borda{
    border-top: 2px solid #FFC61A;
}

footer .line-footer p i{
    color: #FFC61A;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
    margin: 1%;
}